#card-container {
    position: relative; /* Ensure the parent container is positioned relative */
    width: 300px;
    height: 400px;
    margin: 50px auto;
}

/* Basic styling for the card */
.card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
}

/* Style for the button container */
.button-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-top: 1rem;
}

/* Style for the buttons */
.button-container button {
    background-color: #e74c3c;
    color: white;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.375rem;
    margin: 0 0.5rem; /* Add margin between buttons */
}

.dislike-button {
    background-color: #e74c3c;
    color: #fff;
}

.like-button {
    background-color: #2ecc71;
    color: #fff;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
